.container {
	display: flex;
	align-items: center;
}

.header-container {
	display: block;
	align-items: center;
	justify-content: center;
}

.two-tab-container {
	display: flex;
}

.vertical-container {
	width: 40%;
	text-align: justify;
	margin-right: 2rem;
}
